<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about_style.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Disha.com | About</title>
    <style>
        .upper{
            width: 70%;
            height:350px;
            border: 5px solid #555;
        }

    </style>
  </head>
  <body>

  <!-- Navigation-->
    <div class="navbar fixed-top bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img src="static/images/logo1.jpg" class="img-fluid my-0 mr-md-auto font-weight-normal" style="width:100px; height:40px;" alt="logo">
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2  text-light" href="/">Home</a>
            <a class="p-2  text-light" href="/about">About</a>
        </nav>
         <a class="btn btn-outline-primary" href="/index">Log in</a>
    </div>
    <!-- //Navigation-->

    <br>
    <div class="container">
      <center> <img class="upper"  src="static/images/group_pic.jpeg" alt="team_photo"></center><br>
    </div>
    <section>
        <div class="row mb-5">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="text-align:center;">
                    <h1> Our Team</h1><br>
                    <div class="card">
                    <div class="card-body">
                    <h3><i>THE ANNOTATORS</i></h3>
                    <p class="mt-3"><i>
Coming from six different states of our country, India and united by Mody University of Science and Technology, Rajasthan, The Annotators comprises of 6 young women who believe in the power of hardwork, diligence and hope to use their knowledge in making the world a better and easier place to live in.

Having faced with some of the most common and inevitable issues during our own Engineering career, we set on a journey with a positive attitude and a technologically driven idea to provide a solution to those who have come across similar dilemma during their careers in life.<br><br>


Although all 6 of us are pursuing Bachelors in Technology, CSE, from our institution, we specialize in our own fields and always had 100s of crazy ideas for the same problem. We would often give up on the problem but nevertheless, start all over again challenging our own selves each time.<br><br>

It surely wasn't a smooth ferry ride but a roller coaster that went higher up in the sky each time after it came crashing down.</i>

                    </p></div></div></div>
            </div></section><div class="col-md-1"></div>

      <section id="team">
        <div class="container my-3 py-5 text-center">

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/prachi_p.jpeg" alt="prachi" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Prachi Singhal</h3>
                            <h5>Team Leader</h5>
                            True to her role and her intelligence, Prachi left no stones unturned in the completion of this project as a great leader. From taking care of the front end till the successful integration, she managed to push the entire team at each small step.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col=md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/sneha_p.jpeg" alt="sneha" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Sneha Dujania</h3>
                            <h5>Team Member</h5>
                            The ease with which Sneha handled the Machine learning model clearly portrays her dedication towards her responsibilities. Self motivated and always spreading happiness, her patience and never giving up attitude is her trademark.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col=md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/gunisha_p.jpeg" alt="gunisha" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Gunisha Chaturvedi</h3>
                            <h5>Team Member</h5>
                            Just as unique as her name, Gunisha was true to her responsibilities as our Data Analyst with brilliant and unique ideas throughout our journey. Along with Riya, she contributed in data scrapping, cleaning and analysis.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-4 col=md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/himani_p1.png" alt="himani" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Himani Agarwal</h3>
                            <h5>Team Member</h5>
                            Being the cutest and the most joyful from the lot, Himani took the hardest of all the jobs and did it in the easiest of ways possible. The credits of our user friendly front end goes to her.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col=md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/riya_p.jpeg" alt="riya" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Riya Jaipuria</h3>
                            <h5>Team Member</h5>
                            From cleaning datasets to making a number of analyses from our huge dataset, Riya performed different job roles with the utmost perfection and hard work.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col=md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="static/images/ishanki_p.jpeg" alt="ishanki" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Ishanki Garg</h3>
                            <h5>Team Member</h5>
                            She might be the quietest of all yet the smartest. She contributed in developing the front end and the backend without once complaining about its complexities.
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!-- mentors-->
<section id="team">
        <div class="container my-3 py-5 text-center">
            <div class="row mb-5">
                <div class="col">
                    <h1> Our Mentors</h1>
                </div>
            </div>
        </div>
</section>
<div class="card-group" >
                <div class="col-md-1">
             </div>

                <div class="card mb-4" style="max-width: 600px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="static/images/senthil_sir_p.jpeg" class="card-img" alt="drishti">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">Dr. A.Senthil</h4>
                      <p class="card-text mb-2"><small class="text-muted">HOD, CSE at Mody University of Science and Technology.</small></p>
                    Dr. A. Senthil is the HOD, CSE at Mody University of Science and Technology. He has always supported our team and guided us throughout the course of our project. From giving valuable suggestions to taking practice mock sessions, he made sure we were always on the right track.
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-1">
             </div>

                <div class="card mb-4" style="max-width: 600px; ">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="static/images/drishti_p.jpeg" class="card-img" style="height:266px;" alt="Drishti Pathak">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">Ms. Drishti Pathak</h4>
                      <p class="card-text mb-2"><small class="text-muted">Currently Working as Java Developer in Accenture Pune</small></p>
                    Ms. Drishti is currently working as a Software Developer in Accenture. Apart from giving her valuable insights during our journey, she was available to us at any time of the day. We are grateful to have her as our mentor.

                  </div>
                </div>
              </div>
            </div>
</div>

<!-- //mentors-->

 <!-- initiative-->
 <section>
        <div class="row mb-5">
                <div class="col-md-1"></div>
                <div class="col-md-10" style="text-align:center;">
                    <h1> </h1><br>
                    <div class="card">
                    <div class="card-body">
                    <h3><i>ABOUT OUR INNOVATION</i></h3>
                    <p class="mt-3"><i>

With the advancements and upgradations in technology every 2 minutes, it has become a little difficult and a tedious task to cope up with the new market trends. We often upgrade ourselves with the trends but mostly, we find ourselves choosing between the career options we can go for based on our diverse skill set.<br><br>

This is an initiative where the young minds struggling to decide amongst the best career options can get a platform to do so. They can find upto 5 different categories or job roles along with their respective probabilities that they can choose from based on the skills that they possess and their experience and expertise in the given field. <br><br>

Our user friendly front-end let's you enter your skills and experiences and then it takes the help of Artificial Intelligence and Deep Learning models to predict the best and top 5 categories for you to choose from. <br><br>
Apart from this, you will also get a detailed report which gives you an analysis of your skills and what else is needed in order to be better in those top 5 of your predictions.
There is also a dedicated analysis of the current market trends of different job roles based on factors like Location, Salary and Skills required. <br><br>

We hope that this initiative will help you in your struggle to find the best career option and hone your skills along the way.</i>

                    </p></div></div></div>
            </div></section><div class="col-md-1"></div>

<!--// initiative-->

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>